/* Icons from directory "" */
.icon-bike,.icon-bike\:regular{background-image:url('icons/icons.svg');background-position:0 0;background-repeat:no-repeat}
.icon-bike-dims{width:32px;height:32px}
.icon-electrical,.icon-electrical\:regular{background-image:url('icons/icons.svg');background-position:0 -32px;background-repeat:no-repeat}
.icon-electrical-dims{width:32px;height:32px}
.icon-finance,.icon-finance\:regular{background-image:url('icons/icons.svg');background-position:0 -64px;background-repeat:no-repeat}
.icon-finance-dims{width:32px;height:32px}
.icon-home,.icon-home\:regular{background-image:url('icons/icons.svg');background-position:0 -96px;background-repeat:no-repeat}
.icon-home-dims{width:32px;height:32px}
.icon-life,.icon-life\:regular{background-image:url('icons/icons.svg');background-position:0 -128px;background-repeat:no-repeat}
.icon-life-dims{width:32px;height:32px}
.icon-pet,.icon-pet\:regular{background-image:url('icons/icons.svg');background-position:0 -160px;background-repeat:no-repeat}
.icon-pet-dims{width:32px;height:32px}
.icon-travel,.icon-travel\:regular{background-image:url('icons/icons.svg');background-position:0 -192px;background-repeat:no-repeat}
.icon-travel-dims{width:32px;height:32px}
.icon-vehicles,.icon-vehicles\:regular{background-image:url('icons/icons.svg');background-position:0 -224px;background-repeat:no-repeat}
.icon-vehicles-dims{width:32px;height:32px}