* {
	box-sizing: border-box;
	position: relative;
}

html {
	font-size: 62.5%;
	background: #1B468E;
}

body {
	padding: 2em;	
}

h1, h2, h3, h4, h5 {
	font-weight: normal;
	color: #FFF;
	margin: 0;
}
/*
$fontbase = 16
$line-height-base = 26
*/

html {
    font-size: 62.5%;
}

body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.625; /* $line-height-base ÷ $fontbase */
}

h1,
h2 {
    font-size: 2.6rem;
    line-height: 1; /* $line-height-base ÷ 26 */
}

h3,
h4 {
    font-size: 1.8rem;
    line-height: 1.444 /* $line-height-base ÷ 18 */
}

a {
	text-decoration: none;
	color: inherit;
}
strong {
	color: inherit;
	font-weight: bold;
}