.fl {
	float: left;
}
.fr {
	float: right;
}

.txt-l {
	text-align: left;
}
.txt-r {
	text-align: right;
}
.txt-c {
	text-align: center;
}

.vr {
	height: 80%;
	top: 10%;
	display: inline-block;
	width: 1px;
	background: #CCC;
	position: absolute;
	right: 0;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aligner-item {
  flex: 1;
}
